# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
# Reference doc: https://circleci.com/docs/2.0/project-walkthrough/
version: 2.1
jobs:
  build_test_jvm_integration:
    docker:
      - image: ducouloa/ml4ir:0.1
    resource_class: xlarge
    steps:
      - checkout
      - restore_cache:
          key: maven-python-deps-{{ checksum "jvm/pom.xml" }}-{{ checksum "python/requirements.txt" }}
      - run:
          name: Install Python deps in a venv
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r python/requirements.txt
      - run:
          name: Build
          command: |
            cd jvm
            mvn clean -Dmaven.test.skip=true install
      - save_cache:
          key: maven-python-deps-{{ checksum "jvm/pom.xml" }}-{{ checksum "python/requirements.txt" }}
          paths:
            - ~/.m2
            - "venv"
      - run:
          name: Run JVM tests and integration tests
          command: |
            . venv/bin/activate
            cd jvm
            mvn verify -Pintegration_tests
      - store_test_results:
          path: jvm/ml4ir-inference/target

  build_test_python_classification:
    docker:
      - image: circleci/python:3.7.7
    resource_class: xlarge
    steps:
      - checkout
      - restore_cache:
          key: python-deps-{{ checksum "python/requirements.txt" }}
      - run:
          name: Install Python deps in a venv
          command: |
            python3 -m venv venv
            . venv/bin/activate
            cd python
            pip install -r requirements.txt
      - save_cache:
          key: python-deps-{{ checksum "python/requirements.txt" }}
          paths:
            - "venv"
      - run:
          name: Run Python tests
          command: |
            . venv/bin/activate
            cd python
            COVERAGE_FILE=reports/.coverage.ranking coverage run -m pytest ml4ir/applications/classification/tests --junitxml=test_results/results.xml
#            coverage report --include "ml4ir/*"
#            coverage html --include "ml4ir/*"  # open htmlcov/index.html in a browser
          no_output_timeout: 45m  # Time for running the tests before we timeout
      - persist_to_workspace:
          root: reports
          paths:
            - .coverage.ranking
      - store_test_results:
          path: python/test_results

  build_test_python_ranking:
    docker:
      - image: circleci/python:3.7.7
    resource_class: xlarge
    steps:
      - checkout
      - restore_cache:
          key: python-deps-{{ checksum "python/requirements.txt" }}
      - run:
          name: Install Python deps in a venv
          command: |
            python3 -m venv venv
            . venv/bin/activate
            cd python
            pip install -r requirements.txt
      - save_cache:
          key: python-deps-{{ checksum "python/requirements.txt" }}
          paths:
            - "venv"
      - run:
          name: Run Python tests
          command: |
            . venv/bin/activate
            cd python
            COVERAGE_FILE=reports/.coverage.classif coverage run --include "ml4ir/*" -m pytest ml4ir/applications/ranking/tests --junitxml=test_results/results.xml
#            coverage report --include "ml4ir/*"
#            coverage html --include "ml4ir/*"  # open htmlcov/index.html in a browser
            # python3 -m pytest ml4ir/applications/ranking/tests --junitxml=test_results/results.xml
          no_output_timeout: 45m  # Time for running the tests before we timeout
      - persist_to_workspace:
          root: reports
          paths:
            - .coverage.classif
      - store_test_results:
          path: python/test_results

  build_test_coverage:
    docker:
      - image: circleci/python:3.7.7
    resource_class: large
    steps:
      - checkout
      - restore_cache:
          key: python-deps-{{ checksum "python/requirements.txt" }}
      - run:
          name: Install Python deps in a venv
          command: |
            python3 -m venv venv
            . venv/bin/activate
            cd python
            pip install -r requirements.txt
      - save_cache:
          key: python-deps-{{ checksum "python/requirements.txt" }}
          paths:
            - "venv"
      - attach_workspace:
          # Must be absolute path or relative path from working_directory
          at: reports
      - run:
          name: Run Python Coverage
          command: |
            . venv/bin/activate
            coverage combine reports/.coverage.ranking reports/.coverage.classif
            coverage report
            coverage html
          no_output_timeout: 45m  # Time for running the tests before we timeout
      - store_artifacts:
          path: htmlcov

workflows:
  version: 2.1
  build_and_test:
    jobs:
      - build_test_jvm_integration
      - build_test_python_ranking
      - build_test_python_classification
      - build_test_coverage
          requires:
            - build_test_python_ranking
            - build_test_python_classification