# Python dependencies for developing on ml4ir and for use in the CircleCI builds
Sphinx
coverage
flake8
python-dotenv>=0.15.0
flake8-black
flake8-mypy
pre-commit
mypy

# ml4ir dependencies
tensorflow==2.9.3
numpy==1.21.6
pandas==1.2.1
scipy==1.5.4

# transformers
# NOTE: There's a bug with the latest verion - https://github.com/opencv/opencv-python/issues/772
# TODO: We should remove the tf-models-official dependency and just copy-paste the code - https://github.com/tensorflow/models/issues/10927
opencv-python-headless==4.6.0.66
tf-models-official==2.9.2

# pytest
pytest==6.2.1
pytest-cov==2.11.0
pytest-html==3.1.1
testfixtures==6.17.1

# Pyspark for spark_io
pyspark==3.0.1

#calibration
tensorflow-probability==0.15.0

# DAG visualization
pygraphviz==1.7
