# Python dependencies for developing on ml4ir and for use in the CircleCI builds
Sphinx
coverage
flake8
python-dotenv>=0.15.0
flake8-black
flake8-mypy
pre-commit
mypy

# Test requirements
pytest==6.2.1
pytest-cov==2.11.0
pytest-html==3.1.1
testfixtures==6.18.5