# ml4ir dependencies
tensorflow==2.16.2
tf-keras==2.16.0
numpy==1.24.2
pandas==1.5.3
scipy==1.10.0
PyYAML==6.0.2
urllib3<2.0  # Issue -> https://stackoverflow.com/questions/76187256/importerror-urllib3-v2-0-only-supports-openssl-1-1-1-currently-the-ssl-modu

# SentenceTransformers dependencies
transformers==4.48.1
huggingface-hub==0.25.2
tensorflow-text==2.16.1
torch==2.5.1
sentence-transformers==2.2.2

# calibration
tensorflow-probability==0.24.0

