# Build dependencies
Sphinx
coverage
flake8
python-dotenv>=0.5.1
flake8-black
flake8-mypy
pre-commit
mypy

# ml4ir dependencies
tensorflow==2.0.1
numpy==1.17.4
matplotlib==3.1.2
pandas==1.1.2
seaborn==0.9.0
scikit-learn==0.21.3
scipy==1.3.2
PyYAML==5.1

# IPython tools
ipython==7.11.1
jupyterlab==1.2.3
notebook==6.0.2

# pytest
pytest==4.6.3
pytest-cov==2.5.1
pytest-html==2.1.1

# Pyspark for spark_io
pyspark==3.0.0

# Experiment tracking
wandb==0.8.36