# ml4ir dependencies
tensorflow==2.9.3
numpy==1.24.2
pandas==1.5.3
scipy==1.10.0
PyYAML==5.4.1

# SentenceTransformers dependencies
torch==1.13.1
transformers==4.25.1
sentence-transformers==2.2.2
huggingface-hub==0.19.1
tensorflow-text==2.9.0

# calibration
tensorflow-probability==0.15.0